@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
  .team {
    padding: 120px 0;
  }
  .team-item {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .team-item:last-child {
    margin-right: 0;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }
}
