@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-background-2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }
  .features {
    padding: 120px 0;
  }
  .features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .features-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud-color);
    width: 264px;
    height: 112px;
  }
  .features-item {
    margin-right: 24px;
    max-width: 264px;
  }
  /* -----------------------------  What are we doing?  ----------------------------------- */

  .doing {
    padding-bottom: 120px;
    display: flex;
  }
  .doing-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
    margin-bottom: 72px;
  }
  .doing-list {
    display: flex;
  }
  .doing-item {
    margin-right: 24px;
    width: 360px;
  }
  .doing-item:last-child {
    margin-right: 0;
  }
  .team {
    padding: 120px 0;
  }
  .team-item {
    margin-right: 24px;
    margin-bottom: 0;
  }
  .team-item:last-child {
    margin-right: 0;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .customers {
    padding: 120px 0;
  }
  .footer {
    padding: 100px 0;
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-logo-description {
    margin-right: 120px;
  }
  .footer-socials {
    width: 208px;
    margin-right: 80px;
  }
  .footer-social-list {
    gap: 16px;
  }
  .footer-text {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1160px;
  }
}
