@media screen and (min-width: 320px), (max-width: 479px) {
  .modal-title {
    font-size: 12px;
  }
  .modal {
    width: 100%;
    max-width: 408px;
  }
  .features-item {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .page-header {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  .page-header .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menu {
    display: flex;

    padding: 0;
    margin: 0;
    list-style: none;
  }

  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }

  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }

  .menu-toggle {
    position: absolute;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px;
    background-color: white;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    color: inherit;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #fff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: 24px;
    right: 24px;
  }

  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .mobile-menu .link {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .header-item-page {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 40px;
  }
  .header-item-page:focus {
    color: #404bbf;
  }
  .header-address-list {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1920px;
    margin: 0;
    background-size: cover;
    margin-right: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mobile-hero-background-2x.jpg);
    }
  }
  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    width: 100%;
    margin-bottom: 72px;
  }
  .features {
    padding: 96px 0;
  }
  .features-item-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
  }
  .features-icon {
    display: none;
  }
  .features-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-item {
    margin-right: 0;
    margin-bottom: 72px;
  }
  .features-item:last-child {
    margin-bottom: 0;
  }
  .doing {
    display: none;
  }
  .team {
    padding: 96px 0;
  }
  .team-item {
    width: 100%;
    max-width: 264px;
    margin-right: 0;
    margin-bottom: 72px;
  }
  .team-item:last-child {
    margin-bottom: 0;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customers {
    padding: 96px 0;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
  }
  .customers-item {
    height: 88px;
    width: 190px;
  }
  .footer-logo-description {
    text-align: center;
  }
  .footer {
    padding: 96px 0;
  }
  .footer-text {
    width: 100%;
    text-align: left;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 72px;
  }
  .footer-social-list {
    width: 100%;
  }
  .footer-social-link {
    background-color: #4d5ae5;
  }
  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #404bbf;
  }
  .footer-logo-description {
    margin-right: 0;
  }
  .footer-subscribe-title {
    text-align: center;
  }
  .footer-input-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-subscribe-input {
    margin-right: 0;
    margin-bottom: 16px;
    width: 200px;
    border: 1px solid #8e8f99;
  }
  .footer-subscribe-input::placeholder {
    color: #8e8f99;
  }
}
@media screen and (min-width: 480px) {
  .page-header {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  .page-header .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menu {
    display: flex;

    padding: 0;
    margin: 0;
    list-style: none;
  }

  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }

  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }

  .menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px;
    background-color: white;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: inherit;
  }

  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .mobile-menu .link {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  .header-item-page {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 40px;
  }

  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile-hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0;
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mobile-hero-background-2x.jpg);
    }
  }
  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    width: 288px;
    margin-bottom: 72px;
  }
  .features {
    padding: 96px 0;
  }
  .features-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    text-align: center;
  }
  .features-item-description {
    font-weight: 500;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: #434455;
  }
  .features-icon-container {
    display: none;
  }
  .features-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features-item {
    margin-right: 0;
    margin-bottom: 72px;
  }
  .features-item:last-child {
    margin-bottom: 0;
  }
  .doing {
    display: none;
  }
  .team {
    padding: 96px 0;
  }
  .team-item {
    width: 264px;
    margin-right: 0;
    margin-bottom: 72px;
  }
  .team-item:last-child {
    margin-bottom: 0;
  }

  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .customers {
    padding: 96px 0;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
  }
  .customers-item {
    height: 88px;
    width: 190px;
  }
  .footer-logo-description {
    text-align: center;
  }
  .footer {
    padding: 96px 0;
  }
  .footer-text {
    margin-bottom: 72px;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 72px;
  }
  .footer-social-link {
    background-color: #4d5ae5;
  }
  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #404bbf;
  }
  .footer-logo-description {
    margin-right: 0;
  }
  .footer-subscribe-title {
    text-align: center;
  }
  .footer-input-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-subscribe-input {
    margin-right: 0;
    margin-bottom: 16px;
    width: 200px;
    border: 1px solid #8e8f99;
  }
  .footer-subscribe-input::placeholder {
    color: #8e8f99;
  }
  .container {
    max-width: 428px;
  }
  .hero-title {
    width: 320px;
  }
  .footer-subscribe-input {
    width: 396px;
  }
  .modal-form-label {
    width: 100%;
  }
  @media screen and (min-width: 480px), (max-width: 767px) {
    .bigger-container {
      max-width: 480px;
    }
    .modal-title {
      font-size: 16px;
    }
    .modal-checkbox-text {
      font-size: 12px;
    }
    .modal-checkbox-link {
      font-size: 12px;
    }
  }
}
