@media screen and(min-width: 480px) {
  body {
    width: 480px;
  }
}
@media screen and(min-width: 768px) {
  body {
    width: 768px;
  }
}
@media screen and(min-width: 1200px) {
  body {
    width: 1200px;
  }
}
