@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .team {
    padding: 96px 0;
  }
  .team-item {
    margin-right: 0;
    margin-bottom: 72px;
  }
  .team-item:last-child {
    margin-bottom: 0;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
