@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .team {
    padding: 96px 0;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .team-item {
    margin-bottom: 0;
  }
  .features {
    padding: 96px 0;
  }
  .features-item-title {
    text-align: start;
  }
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 72px 0;
  }
  .features-item {
    max-width: 356px;
    margin-bottom: 0;
  }
}
